<?xml version="1.0"?>
<appSettings>
  <add key="CacheManagerConfig.CacheManagerType" value="Default" />
  <add key="WebFileConfig.NasImageRoot" value="~/Images" />
  <add key="WebFileConfig.DefaultImage" value="/_.png" />
  <add key="WebFileConfig.WatermarkImage" value="~/wm.png" />

  <add key="IImageLoader" value="ImageLoaders.GridFSImageLoader, ImageServer.ImageLoaders" />
  <add key="IFilenameGetter" value="ImageServer.Common.DefaultFilenameGetter, ImageServer.Common" />

  <!--供BizHandler使用的ImageLoader和FilenameGetter-->
  <add key="IImageLoader.Video" value="ImageLoaders.VideoIDImageLoader, ImageServer.ImageLoaders" />
  <add key="IFilenameGetter.Video" value="ImageServer.Common.DefaultFilenameGetter, ImageServer.Common" />

</appSettings>