<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <connectionStrings configSource="connectionstrings.config" />
  <appSettings configSource="appsettings.config" />

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers configSource="system.web-httphandlers.config" />
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <handlers>
      <add path="BizHandler.aspx" name="BizHandler" type="ImageServer.UI.BizHandler,ImageServer.Common" verb="GET" />
    </handlers>
    <rewrite>
      <rewriteMaps>
        <rewriteMap name="map">
          <add key="w" value="1" />
          <add key="b" value="2" />
          <add key="s" value="1" />
          <add key="m" value="1" />
        </rewriteMap>
        <rewriteMap name="pos">
          <add key="e" value="1" />
          <add key="se" value="2" />
          <add key="s" value="3" />
          <add key="sw" value="4" />
          <add key="w" value="5" />
          <add key="nw" value="6" />
          <add key="n" value="7" />
          <add key="ne" value="8" />
        </rewriteMap>
      </rewriteMaps>
      <rules>
        <rule name="默认图片" stopProcessing="true">
          <match url=".*" />
          <action type="None" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
        </rule>
        <rule name="Biz源图" stopProcessing="true">
          <match url="^!([^/]+)/(.+)\.png$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="^$" />
          </conditions>
          <action type="Rewrite" url="/BizHandler.aspx?biz={R:1}&amp;p={R:2}&amp;rp=1" />
        </rule>
        <rule name="源图" stopProcessing="true">
          <match url="^(.+)(\.jpg|\.jpeg|\.png|\.gif|\.bmp|\.exif)$" />
          <action type="Rewrite" url="/ZoomHandler.ashx?p={R:1}{R:2}&amp;rp=1" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="^$" />
          </conditions>
        </rule>
        <rule name="Biz无缩放" stopProcessing="true">
          <match url="^!([^/]+)/(.+)\.png$" />
          <action type="Rewrite" url="/BizHandler.aspx?biz={R:1}&amp;p={R:2}&amp;q={C:1}" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="^(?:q(\d{1,3}))?$" />
          </conditions>
        </rule>
        <rule name="Biz正方" stopProcessing="true">
          <match url="^!([^/]+)/(.+)\.png$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="^([wb]?)(\d+)(s?)(m?)(?:q(\d{1,3}))?(i?)$" />
          </conditions>
          <action type="Rewrite" url="/BizHandler.aspx?biz={R:1}&amp;p={R:2}&amp;w={C:2}&amp;h={C:2}&amp;b={map:{C:1}}&amp;s={map:{C:3}}&amp;max={map:{C:4}}&amp;q={C:5}&amp;i={C:6}" />
        </rule>
        <rule name="Biz长方" stopProcessing="true">
          <match url="^!([^/]+)/(.+)\.png$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="^([wb]?)(\d+)x(\d+)(s?)(m?)(?:q(\d{1,3}))?(i?)$" />
          </conditions>
          <action type="Rewrite" url="/BizHandler.aspx?biz={R:1}&amp;p={R:2}&amp;w={C:2}&amp;h={C:3}&amp;b={map:{C:1}}&amp;s={map:{C:4}}&amp;max={map:{C:5}}&amp;q={C:6}&amp;i={C:7}" />
        </rule>
        <rule name="Biz限宽/限高" stopProcessing="true">
          <match url="^!([^/]+)/(.+)\.png$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="^(\d+)([wh])(?:q(\d{1,3}))?(i?)$" />
          </conditions>
          <action type="Rewrite" url="/BizHandler.aspx?biz={R:1}&amp;p={R:2}&amp;ml={C:1}&amp;mlb={C:2}&amp;q={C:3}&amp;i={C:4}" />
        </rule>
        <rule name="Biz正方切图" stopProcessing="true">
          <match url="^!([^/]+)/(.+)\.png$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="^c(\d+)(e|se|s|sw|w|nw|n|ne)?(?:q(\d{1,3}))?$" />
          </conditions>
          <action type="Rewrite" url="/BizHandler.aspx?biz={R:1}&amp;p={R:2}&amp;w={C:1}&amp;h={C:1}&amp;pos={pos:{C:2}}&amp;c=1&amp;q={C:3}" />
        </rule>
        <rule name="Biz长方切图" stopProcessing="true">
          <match url="^!([^/]+)/(.+)\.png$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="^c(\d+)x(\d+)(e|se|s|sw|w|nw|n|ne)?(?:q(\d{1,3}))?$" />
          </conditions>
          <action type="Rewrite" url="/BizHandler.aspx?biz={R:1}&amp;p={R:2}&amp;w={C:1}&amp;h={C:2}&amp;pos={pos:{C:3}}&amp;c=1&amp;q={C:4}" />
        </rule>
        <rule name="无缩放" stopProcessing="true">
          <match url="^(.+)(\.jpg|\.jpeg|\.png|\.gif|\.bmp|\.exif)$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="^(?:q(\d{1,3}))?$" />
          </conditions>
          <action type="Rewrite" url="/ZoomHandler.ashx?p={R:1}{R:2}&amp;q={C:1}" logRewrittenUrl="true" />
        </rule>
        <rule name="PNG/GIF正方（适应或填充）" stopProcessing="true">
          <match url="^(.+)(\.png|\.gif)$" />
          <action type="Rewrite" url="/ZoomHandler.ashx?p={R:1}{R:2}&amp;w={C:2}&amp;h={C:2}&amp;b={map:{C:1}}&amp;s={map:{C:3}}&amp;max={map:{C:4}}&amp;q={C:5}&amp;i={C:6}" logRewrittenUrl="true" />
          <conditions trackAllCaptures="true">
            <add input="{QUERY_STRING}" pattern="^([wb]?)(\d+)(s?)(m?)(?:q(\d{1,3}))?(i?)$" />
          </conditions>
        </rule>
        <rule name="PNG/GIF长方（适应或填充）" stopProcessing="true">
          <match url="^(.+)(\.png|\.gif)$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="^([wb]?)(\d+)x(\d+)(s?)(m?)(?:q(\d{1,3}))?(i?)$" />
          </conditions>
          <action type="Rewrite" url="/ZoomHandler.ashx?p={R:1}{R:2}&amp;w={C:2}&amp;h={C:3}&amp;b={map:{C:1}}&amp;s={map:{C:4}}&amp;max={map:{C:5}}&amp;q={C:6}&amp;i={C:7}" logRewrittenUrl="true" />
        </rule>
        <rule name="PNG/GIF限宽/限高缩放" stopProcessing="true">
          <match url="^(.+)(\.png|\.gif)$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="^(\d+)([wh])(?:q(\d{1,3}))?(i?)$" />
          </conditions>
          <action type="Rewrite" url="/ZoomHandler.ashx?p={R:1}{R:2}&amp;ml={C:1}&amp;mlb={C:2}&amp;q={C:3}&amp;i={C:4}" logRewrittenUrl="true" />
        </rule>
        <rule name="JPEG/BMP正方（适应或填充）" stopProcessing="true">
          <match url="^(.+)(\.jpg|\.jpeg|\.bmp|\.exif)$" />
          <conditions trackAllCaptures="true">
            <add input="{QUERY_STRING}" pattern="^(\d+)(s?)(m?)(?:q(\d{1,3}))?(i?)$" />
          </conditions>
          <action type="Rewrite" url="/ZoomHandler.ashx?p={R:1}{R:2}&amp;w={C:1}&amp;h={C:1}&amp;b=2&amp;s={map:{C:2}}&amp;max={map:{C:3}}&amp;q={C:4}&amp;i={C:5}" logRewrittenUrl="true" />
        </rule>
        <rule name="JPEG/BMP长方（适应或填充）" stopProcessing="true">
          <match url="^(.+)(\.jpg|\.jpeg|\.bmp|\.exif)$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="^(\d+)x(\d+)(s?)(m?)(?:q(\d{1,3}))?(i?)$" />
          </conditions>
          <action type="Rewrite" url="/ZoomHandler.ashx?p={R:1}{R:2}&amp;w={C:1}&amp;h={C:2}&amp;b=2&amp;s={map:{C:3}}&amp;max={map:{C:4}}&amp;q={C:5}&amp;i={C:6}" logRewrittenUrl="true" />
        </rule>
        <rule name="JPEG/BMP限宽/限高" stopProcessing="true">
          <match url="^(.+)(\.jpg|\.jpeg|\.bmp|\.exif)$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="^(\d+)([wh])(?:q(\d{1,3}))?(i?)$" />
          </conditions>
          <action type="Rewrite" url="/ZoomHandler.ashx?p={R:1}{R:2}&amp;ml={C:1}&amp;mlb={C:2}&amp;q={C:3}&amp;i={C:4}" logRewrittenUrl="true" />
        </rule>
        <rule name="正方切图" stopProcessing="true">
          <match url="^(.+)(\.jpg|\.jpeg|\.png|\.gif|\.bmp|\.exif)$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="^c(\d+)(e|se|s|sw|w|nw|n|ne)?(?:q(\d{1,3}))?$" />
          </conditions>
          <action type="Rewrite" url="/ZoomHandler.ashx?p={R:1}{R:2}&amp;w={C:1}&amp;h={C:1}&amp;pos={pos:{C:2}}&amp;c=1&amp;q={C:3}" />
        </rule>
        <rule name="长方切图" stopProcessing="true">
          <match url="^(.+)(\.jpg|\.jpeg|\.png|\.gif|\.bmp|\.exif)$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="^c(\d+)x(\d+)(e|se|s|sw|w|nw|n|ne)?(?:q(\d{1,3}))?$" />
          </conditions>
          <action type="Rewrite" url="/ZoomHandler.ashx?p={R:1}{R:2}&amp;w={C:1}&amp;h={C:2}&amp;pos={pos:{C:3}}&amp;c=1&amp;q={C:4}" />
        </rule>


      </rules>
    </rewrite>
    <caching>
      <profiles>
        <add extension=".ashx" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".aspx" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".jpeg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".bmp" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
      </profiles>
    </caching>
  </system.webServer>
</configuration>
